[submodule "craftr\\modules\\lib.cxx.maxon.c4d"]
	path = craftr\\modules\\lib.cxx.maxon.c4d
	url = https://github.com/craftr-build/lib.cxx.maxon.c4d.git
[submodule "craftr/modules/NiklasRosenstein.maxon.c4d"]
	path = craftr/modules/NiklasRosenstein.maxon.c4d
	url = https://github.com/craftr-build/NiklasRosenstein.maxon.c4d.git
